body {
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Big Shoulders Display', cursive;
}

.painel {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  align-items: flex-start;
  margin: auto;
  padding: 0;
  justify-content: center;
}
.painel li {
  width: 300px;
  height: 420px;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.painel li:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.painel li:nth-child(3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}



.painel li img {
  margin-top: 40px;
  margin-left: 40px;
}
.painel li h1 {
  margin-left: 40px;
  color:hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}
.painel li p {
  margin-left: 40px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}
.painel li button {
  margin-top: 20px;
  margin-left: 40px;
  border: none;
  padding: 14px 24px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 95%);
}
.sedans button{
  color: #E28525;
}
.sedans button:hover {
  background-color: #E28525;
  border: solid #fff 1px;
  color: #fff;
  transition: ease-in 0.2s;
}
.suvs button{
  color: #016972;
}
.suvs button:hover {
  background-color: #016972;
  border: solid #fff 1px;
  color: #fff;
  transition: ease-in 0.2s;
}
.luxury button{
  color: #00403F;
}
.luxury button:hover {
  background-color: #00403F;
  border: solid #fff 1px;
  color: #fff;
  transition: ease-in 0.2s;
}

.sedans {
  background-color: #E28525;
}
.sedans p{
  text-align: left;
  font-size: 15px;
   max-width: 203px;
}
.suvs {
  background-color: #016972;
}
.suvs p {
  text-align: left;
  font-size: 15px;
  max-width: 203px;
}
.luxury {
  text-align: left;
  font-size: 15px;
  background-color: #00403F;
}
.luxury p {
  text-align: left;
  font-size: 15px;
  max-width: 203px;
}

@media (max-width: 375px) {
  .painel {
    display: flex;
    flex-flow: column;
    list-style: none;
    align-items: flex-start;
    margin: auto;
    padding: 0;
  }
  .painel li {
    width: 300px;
    height: 420px;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
  .painel li:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .painel li:nth-child(3) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  
  
  .painel li img {
    margin-top: 40px;
    margin-left: 40px;
  }
  .painel li h1 {
    margin-left: 40px;
    color:hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
  }
  .painel li p {
    margin-left: 40px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
  }
  .painel li button {
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    padding: 14px 24px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 95%);
  }
  .sedans button{
    color: #E28525;
  }
  .sedans button:hover {
    background-color: #E28525;
    border: solid #fff 1px;
    color: #fff;
    transition: ease-in 0.2s;
  }
  .suvs button{
    color: #016972;
  }
  .suvs button:hover {
    background-color: #016972;
    border: solid #fff 1px;
    color: #fff;
    transition: ease-in 0.2s;
  }
  .luxury button{
    color: #00403F;
  }
  .luxury button:hover {
    background-color: #00403F;
    border: solid #fff 1px;
    color: #fff;
    transition: ease-in 0.2s;
  }
  
  .sedans {
    background-color: #E28525;
  }
  .sedans p{
    text-align: left;
    font-size: 15px;
     max-width: 232px;
  }
  .suvs {
    background-color: #016972;
  }
  .suvs p {
    text-align: left;
    font-size: 15px;
    max-width: 178px;
  }
  .luxury {
    text-align: left;
    font-size: 15px;
    background-color: #00403F;
  }
  .luxury p {
    text-align: left;
    font-size: 15px;
    max-width: 190px;
  }
}